CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"
DATABASE_URL="postgresql://user:password@host:5432/dbname"

AUTH_SECRET=   # npx auth secret


EMAIL_SERVER=
EMAIL_HOST= 
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="Pizzeria MM <[EMAIL_ADDRESS]>"


STRIPE_SECRET_KEY=sk_...
STRIPE_WEBHOOK_SECRET=whsec_...   # stripe listen --forward-to localhost:3000/api/webhook

NEXT_PUBLIC_APP_URL=http://localhost:3000


